<!DOCTYPE html>
<html>
<head>
<title>Certificate of Insurance</title>
<style>
    body {
        margin:0;
        padding-top: 20px;
        padding-left: 35px
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td { 
        padding: 10px;
    }

    </style>
</head>
<body>

<h2><strong>CERTIFICATE OF INSURANCE</strong></h2>
<table border="1">
<tbody>
<tr>
<td style="width: 200px;">Policyholder:</td>
<td>replaceName replaceLName (email: replaceEmail)</td>
</tr>
<tr>
<td style="width: 200px;">Policy Transection hash #</td>
<td >replaceTxHash</td>
</tr>
<tr>
<td style="width: 200px;">Flights:</td>
<td>replaceAllFlightsInfo </td>
<tr>
<td style="width: 200px;">Policy Start Date:</td>
<td>replacePolicyStartDate</td>
</tr>
<tr>
<td style="width: 200px;">Test Policy Expiry Date:</td>
<td>replaceAMonth replaceADay, replaceAYear replaceATime (local time at destination)</td>
</tr>
<tr>
<td style="width: 200px;">Premium Amount:</td>
<td>Total, bath: replacePremiumAmount</td>
</tr>
<tr>
<td style="width: 200px;">Compensation</td>
<td>Payouts for premium replacePremiumAmount, replaceCompensation bath</td>
</tr>
</tbody>
</table>

</body>
</html>
