<h2><strong>CERTIFICATE OF INSURANCE</strong></h2>
<table class='table table-bordered'>
<tbody>
<tr>
<th scope="row">Policyholder:</th>
<td>replaceName replaceLName (email: replaceEmail)</td>
</tr>
<tr>
<th scope="row">Policy Transection hash #</th>
<td>replaceTxHash</td>
</tr>
<tr>
<th scope="row">Flight:</th>
<td>replaceAllFlightsInfo</td>
</tr>
<th scope="row">Policy Start Date:</th>
<td>replacePolicyStartDate</td>
</tr>
<tr>
<th scope="row">Premium Amount:</th>
<td>Total, bath: replacePremiumAmount</td>
</tr>
<tr>
<th scope="row">Compensation</th>
<td>Payouts for premium replacePremiumAmount, replaceCompensation bath</td>
</tr>
</tbody>
</table>
<a href="https://ropsten.etherscan.io/tx/replaceTxHash">Etherscan: replaceTxHash</a>