<h2><strong>CERTIFICATE OF INSURANCE</strong></h2>
<table class='table table-bordered'>
<tbody>
<tr>
<th scope="row">Policyholder:</th>
<td>replaceName replaceLName (email: replaceEmail)</td>
</tr>
<tr>
<th scope="row">Policy Transection hash #</th>
<td>replaceTxHash</td>
</tr>
<tr>
<th scope="row">Flight:</th>
<td>Carrier: replaceCarrier, flight number: replaceFlightNum</td>
</tr>
<tr>
<th scope="row">From/When:</th>
<td>replaceFromAriport replaceDMonth replaceDDay, replaceDYear replaceDTime (local time)</td>
</tr>
<tr>
<th scope="row">To/When:</th>
<td>replaceToAirport replaceAMonth replaceADay, replaceAYear replaceATime (local time)</td>
</tr>
<tr>
<th scope="row">Policy Start Date:</th>
<td>April 26, 2018 / 06:35 GMT (Greenwich Mean Time)</td>
</tr>
<tr>
<th scope="row">Test Policy Expiry Date:</th>
<td>May 02, 2018 16:25 (local time at destination)</td>
</tr>
<tr>
<th scope="row">Premium Amount:</th>
<td>Total, ETH: 0.08</td>
</tr>
<tr>
<th scope="row">Compensation</th>
<td>Payouts for premium 0.08, eth</td>
</tr>
</tbody>
</table>