<!DOCTYPE html>
<html>
<head>
<title>Certificate of Insurance</title>
<style>
    body {
        margin:0;
        padding-top: 20px;
        padding-left: 35px
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td { 
        padding: 10px;
    }

    </style>
</head>
<body>

<h2><strong>CERTIFICATE OF INSURANCE</strong></h2>
<table border="1">
<tbody>
<tr>
<td style="width: 200px;">Policyholder:</td>
<td>replaceName replaceLName (email: replaceEmail)</td>
</tr>
<tr>
<td style="width: 200px;">Policy Transection hash #</td>
<td >replaceTxHash</td>
</tr>
<tr>
<td style="width: 200px;">Flight:</td>
<td>Carrier: replaceCarrier, flight number: replaceFlightNum</td>
</tr>
<tr>
<td style="width: 200px;">From/When:</td>
<td>replaceFromAriport replaceDMonth replaceDDay, replaceDYeaar replaceDTime (local time)</td>
</tr>
<tr>
<td style="width: 200px;">To/When:</td>
<td>replaceToAirport replaceAMonth replaceADay, replaceAYear replaceATime (local time)</td>
</tr>
<tr>
<td style="width: 200px;">Policy Start Date:</td>
<td>April 26, 2018 / 06:35 GMT (Greenwich Mean Time)</td>
</tr>
<tr>
<td style="width: 200px;">Test Policy Expiry Date:</td>
<td>May 02, 2018 16:25 (local time at destination)</td>
</tr>
<tr>
<td style="width: 200px;">Premium Amount:</td>
<td>Total, ETH: 0.08</td>
</tr>
<tr>
<td style="width: 200px;">Compensation</td>
<td>Payouts for premium 0.08, eth</td>
</tr>
</tbody>
</table>

</body>
</html>
