<!DOCTYPE html>
<html>
<head>
<title>Certificate of Insurance</title>
<style>
    body {
        margin:0;
        padding-top: 20px;
        padding-left: 35px
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td { 
        padding: 10px;
    }

    </style>
</head>
<body>

<h2><strong>CERTIFICATE OF INSURANCE</strong></h2>
<table style="float: left; width: 700px;" border="1">
<tbody>
<tr>
<td style="width: 200px;">Policyholder:</td>
<td style="width: 500px;">Sophon Mongkolluksamee (email: theohncom@gmail.com)</td>
</tr>
<tr>
<td style="width: 200px;">Policy Transection hash #</td>
<td style="width: 500px;">1e77bfd5-b196-4226-87ae-5b0eeb74ced4</td>
</tr>
<tr>
<td style="width: 200px;">Flight:</td>
<td style="width: 500px;">Carrier: JL, flight number: 708</td>
</tr>
<tr>
<td style="width: 200px;">From/When:</td>
<td style="width: 500px;">BKK May 01, 2018 08:10 (local time)</td>
</tr>
<tr>
<td style="width: 200px;">To/When:</td>
<td style="width: 500px;">NRT May 01, 2018 16:25 (local time)</td>
</tr>
<tr>
<td style="width: 200px;">Policy Start Date:</td>
<td style="width: 500px;">April 26, 2018 / 06:35 GMT (Greenwich Mean Time)</td>
</tr>
<tr>
<td style="width: 200px;">Test Policy Expiry Date:</td>
<td style="width: 500px;">May 02, 2018 16:25 (local time at destination)</td>
</tr>
<tr>
<td style="width: 200px;">Premium Amount:</td>
<td style="width: 500px;">Total, ETH: 0.08</td>
</tr>
<tr>
<td style="width: 200px;">Compensation</td>
<td style="width: 500px;">Payouts for premium 0.08, eth</td>
</tr>
</tbody>
</table>

</body>
</html>
